---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p>Hi, I'm Valjean. I live in San Francisco.</p>
      <p>
        I work in software. I love developer tools, design systems, maps, and
        really any problem space that has challenging UI/UX problems (e.g. data
        visualization, complex workflows, streaming data).
      </p>
      <p>I love the mountains, particularly off-trail adventures.</p>
    </main>
  </body>
</html>
